  <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6">
                        <div class="page-header" id="archives">
                            <h3 class="text-danger">文章的整合</h3>
                        </div>


                            {% comment %} Stickie list {% endcomment %}
                            {% for post in site.posts %}

                            {% if post.stickie != true %}
                            {% continue %}
                            {% endif %}


                            <li class="ant-timeline-item">
                                <div class="ant-timeline-item-content">
                                    <span class="text-danger">{{ post.date | date: "%Y-%m-%d" }} </span>
                                    <div class="d-flex align-items-center post-title">
                                     <a class="post-link text-danger h6 text-danger" href="{{site.url}}{{site.baseurl}}{{ post.url}}">{{ post.title }}</a>
                                    </div>
                                </div>
                            </li>
                            {% endfor %}

                        </ul>
                    </div>
                    <div class="col-md-6">
                        <div class="page-header" id="archives">
                            <h3 text-primary>灵感</h3>
                        </div>

                        <ul class="ant-timeline" id="archivelist">


                            {% comment %} Stickie list {% endcomment %}
                            {% for post in site.categories.inspiration %}

                            {% if post.stickie != true %}
                            {% continue %}
                            {% endif %}


                            <li class="ant-timeline-item">
                                <div class="ant-timeline-item-content">
                                    <span text-primary>{{ post.date | date: "%Y-%m-%d" }} </span>
                                    <div class="d-flex align-items-center post-title">
                                     <a class="post-link text-danger h6 text-primary" href="{{site.url}}{{site.baseurl}}{{ post.url}}">{{ post.title }}</a>
                                    </div>
                                </div>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->
<script>
(function() {
    var OriginTitile = document.title, titleTime;
    document.addEventListener('visibilitychange', function() {
        if (document.hidden) {
            document.title = '做事情要专心~';
            clearTimeout(titleTime);
        } else {
            document.title = '(つェ⊂)咦!回来啦!';
            titleTime = setTimeout(function() {
                document.title = OriginTitile;
            },2000);
        }
    });
})();
</script>