<div class="row">
    <div class="col-md-12">
　　    <p>(╯°O°)╯　如果你觉得我哪里不对，一定要告诉我！</p>
        <p>反正我也不会改，你别憋出病来</p>
    </div>

    <!--多说评论开始-->
    <div class="col-md-12">
        <!-- 多说评论框 start -->
        <div class="ds-thread" data-thread-key="{{site.url}}{{site.baseurl}}" data-title="{{ post.title }}" data-url="{{ post.url}}">
            
        </div>
        <!-- 多说评论框 end -->

        <!-- 多说公共JS代码 start (一个网页只需插入一次) -->
        </div>
        <script type="text/javascript">
        var duoshuoQuery = {short_name:"galengao"};
        (function() {
            var ds = document.createElement('script');
            ds.type = 'text/javascript';ds.async = true;
            ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
            ds.charset = 'UTF-8';
            (document.getElementsByTagName('head')[0]
             || document.getElementsByTagName('body')[0]).appendChild(ds);
        })();
        </script>
        <!-- 多说公共JS代码 end -->
    <!--多说评论结束-->
</div>