<footer class="mt-5 pt-5">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <strong>Friend Links</strong>
        <table class="table table-sm">
          <tr>
            <td>感谢博主提供的主题模板：<a href="http://szhshp.org"> szhshp.org</a></td>
          </tr>
          </table>
        </div>

        <div class="col-md-6">
          <strong>Friend Links</strong>
          <table class="table table-sm">
            <tr>
              <td>Welcome</td>
            </tr>
          </table>
        </div>

      </div>
    </div>  
  </footer>